server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      default-filters:
        - PreserveHostHeader
        - RemoveRequestHeader=Cookie
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: [GET, POST, PUT, DELETE, OPTIONS]
            allowedHeaders: [Authorization, Content-Type]
      routes:
        - id: auth-ms
          uri: lb://auth-ms
          predicates:
            - Path=/api/auth/**
        - id: clientes-ms
          uri: lb://clientes-ms
          predicates:
            - Path=/api/clientes/**
        - id: solicitudes-ms
          uri: lb://solicitudes-ms
          predicates:
            - Path=/api/solicitudes/**

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}
