server:
  port: 8082


spring:
  application:
    name: clientes-ms
  datasource:
    url: jdbc:mysql://mysql-db:3306/credit_app?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: verySecretKeyChangeMe1234567890verySecretKeyChangeMe1234567890

auth:
  service:
    url: http://auth-ms:8083


eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}